html {
	background-color: rgb(244, 248, 249);
}

main {
	max-width: 1250px;
	padding: 15px;
	margin: 0 auto;
}

.card {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 210px;
	margin: 1rem;
	position: relative;
	width: 95%;
}

#img-container{
  position: absolute;
  height: 130px;
  z-index: 10;
  top: 120px;
  display: block;
}
#profile_image {
  position: absolute;
  height: 130px;
  z-index: 10;
  top: 105px;
  display: block;
}

.card-x {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 50px;
	margin: 1rem;
	position: relative;
	width: 98.4%;
	margin-top: 0px;
}

.middle-section {
	padding-left: 15%;
}

.card-1 {
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	padding: 20px;
	margin-bottom: 0px;
}

.card-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.button {
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 3px;
}

.button2 {
	background-color: white;
	color: rgb(50,115,166);
	border: 2px solid rgb(108,146,173);
	font-weight: 900;
	float: right;
	padding: 8px 20px;
}

.cancel-btn{
	background-color: white;
	color: rgb(50,115,166);
	border: 2px solid rgb(108,146,173);
	font-weight: 900;
	
	padding: 8px 20px;
}

.buttonx {
	background-color: white;
	display: block;
	color: rgb(156, 157, 159);
	padding: 10px 18px;
	border: 1px solid #C1C1C1;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

.row {
	display: flex;
}

.column-1 {
	padding: 10px;
}

.column-2 {
	flex: 84%;
	padding: 10px;
}

.column-3{
	flex: 50%;	
}

.bvb {
	margin-top: 10px;
}

.left-side{
  float: left;
}

.right-side{
  float: right;
}

.image-holder{
  width: 150px;
}

#location-color{
 color: rgb(209,209,209)
}





.title{
    font-family: sans-serif;
    color: #dc2d5e;
    text-align: center;
}
.tabContainer{
    width: 100%;
    height: 350px;
}

.buttonContainer{
	margin-bottom: 30px;
	margin-right: 0px;
    padding-left: 16%;
}



.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 105px;
    height: 95%;
    float: left;
    outline:none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
	background-color: white; /* Green */
	color: rgb(118,119,121);
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.ion-md-add-circle{
	font-size: 15px;
}

.tabContainer .tabPanel{
	height: 380px;
    background-color: gray;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
	display: none;
	padding: 20px;
}

.switcher p, #username-tab{
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: rgb(246,247,249);
	padding: 10px;
	font-weight: 100;
	font-size: 15px;
	display: inline-block;
	text-align: left;
}
.switcher h6{
	font-weight: bolder !important;
}

#about-color{
color:rgb(159,165,167);
background-color: white;
font-weight: 100;
text-align: left;
margin-bottom: 20px;
font-size: 20px;
}

.ion-md-star, .right-side, .folo{
	color: rgb(114,128,136)
}

.folo{
		float: right;
		display: inline-block;
		margin-top: 15px;
	
}

.ion-md-create{
    background: rgb(236,241,245);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 6.5px;
	vertical-align: middle;
	cursor: pointer;
}

.ion-md-create:hover{
	background:rgb(3,124,228);
	color: white;
}

.switcher .row div{
	text-align: left;
}


//pop up
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
	visibility: hidden;
	width: 360px;
	height: 155px;
	background-color: white;
	color: black;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0px;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	top: -20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
    position: absolute;
	top: 5%;
    left: -5.6%;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
	transform: rotate(90deg);
	border-width: 10px;
	// box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }

  .noni{
	  margin-bottom: 10px !important;
  }
  .ops{
	  padding: 20px !important;
  }

.switcher form {
	margin-top: 15px
}
  /* form starting stylings ------------------------------- */
.group 			  { 
	position:relative; 
	margin-bottom:15px; 
  }
  .group  input 				{
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:285px;
	border:none;
	border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
	color:#999; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.1s ease all; 
	-moz-transition:0.1s ease all; 
	-webkit-transition:0.1s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
	top:-20px;
	font-size:14px;
	color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#5264AE; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
  .bar:before {
	left:50%;
  }
  .bar:after {
	right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
	  from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
	  from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
	  from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
  }


  .saveButton {
	background-color: rgb(2,123,229); /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	padding: 10px 24px;
	border-radius: 2px !important;
  }

  .replace-bvb{
	  display: none;
  }
  .last-btn{
	width: 150px !important
}

#fig{
	margin:0px;
	text-align: center;
}
  // media queries


  @media only screen and (max-width:680px) {

	.hide{
		display: none !important;
	}

	.switcher .row div {
		width: 220px
	}
	.card-x {
		margin-top: 10px;
	}
	.card-1 {
		padding: 0px;
	}

	.ion-md-star, .right-side, .folo {
		color: rgb(0,126,230);
	}
	.button2 {
		background-color: rgb(244, 248, 249);
		color: #3273a6;
		border: 2px solid transparent;
		font-weight: 900;
		float: right;
		padding: 8px 20px;
	}

	.clearfix{
		display: none;
	}

	.image-holder {
		margin: 0 auto;
	}
	

	.bvb{
		display: none;
	}

	#bvb-image{
		max-width:100%;
		max-height:100%;
		margin-top: 50px;
	}


	.replace-bvb{
	display: block;
    padding: 15px;
	margin: auto;
	height: 200px
	}

	.card{
		background-color: rgb(244, 248, 249);
	}
	.tabContainer .buttonContainer button {
		padding: 10px
	}
	
}


@media only screen and (max-width:958px) {
  .last-btn{
	display: none !important;
}

.buttonContainer{
	padding-left: 0px;
}

.tabContainer .buttonContainer button {
	width: auto !important
}
}